/* element namn (

   egenskapr: värde ;
   ) */
   
   /* färgen */
   /* */
   

		
 li {
	 
		display: inline;
		list-style-type: none; 
		padding: 50px; 
}
a {
	font-size: 28px;
	background-color: none;
    color: #ff99ff;
  padding: 10px 10px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
ul {
		background: #4d0000;
		margin-top: -8px;
		margin-left: -8px;
}
 a:link {
	  text-decoration: black;
 }
 